{erl_opts, [warnings_as_errors,
            warn_export_all]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{deps, [
    {eredis,"1.*",
        {git, "https://github.com/wooga/eredis.git",
        {tag, "v1.1.0"}}},
    {poolboy,"1.*",
        {git, "https://github.com/devinus/poolboy.git",
        {tag, "1.5.1"}}}]}.
