{erl_opts, [warnings_as_errors,
            warn_export_all]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{deps, [{eredis, "1.2.0"},
       {poolboy, "1.5.2"},
        {worker_pool, {git, "https://github.com/inaka/worker_pool", {branch, "master"}}}
       ]}.
